<h1><%= @category.title %></h1>
<% @category.items.each do |item| %>
  <%= item.title %> - $<%= item.price.to_f/100 %><br>
  <% if current_user %>
    <%= button_to "Add to Cart", line_items_path(item_id: item) %>
  <% end %>
<% end %>
